body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  font-family: 'Rubik', sans-serif;
}

.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.video-container .controls {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vmin;
  background: rgba(0, 0, 0, 0.5);
}

.video-container .controls button {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  margin: 0px 1vw;
}

.video-container .controls button svg {
  fill: white;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 100%;
  height: 100%;
}

.video-container .controls button.volume svg path,
.video-container .controls button.help svg,
.video-container .controls button.episodes svg,
.video-container .controls button.full-screen svg,
.video-container .controls button.volume svg path,
.video-container .controls button.cast svg {
  fill: none;
}

.video-container .controls button.rewind svg,
.video-container .controls button.fast-forward svg {
  stroke: none;
}

.video-container .controls button.captions svg {
  transform: rotateY(180deg);
}

.video-container .controls .title {
  font-size: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.video-container .controls .title .series {
  color: #FEFEFE;
  font-weight: bold;
  font-size: 1em;
}

.video-container .controls .title .episode {
  color: #A1A1A1;
  font-size: 0.75em;
  padding-left: 1vw;
}